$accent-color-one: #a1286bbd;
$scroll-spy-width: 21.8rem;
$scroll-spy-side-padding: 9%;
$container-width: calc(100vw - #{$scroll-spy-width});
$hover-transition-speed: 0.1s;

.scrollSpyPage {
    .logo,
    .logo img {
        top: 20px;
        left: 20px;
        width: 300px;
        border: none;
    }

    .navTitle {
        width: 100%;
        h1 {
            font-size: 1.75rem;
            margin: 0 auto 0 10%;
        }
        .navDivider {
            width: 25%;
            height: 10px;
            margin: 0 auto 20px 12%;
            background-color: $accent-color-one;
        }
    }

    .logo {
        position: absolute;
        z-index: 4;
    }

    .navUl ul {
        width: $scroll-spy-width;
        // min-width: 21rem;
        position: fixed;
        right: 0;
        height: 100vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 6rem 0px 0px 0px;
    }
    li {
        list-style-type: none;
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: left;
        margin: 0.1rem auto;
        padding: 0;
    }

    .spyNavWrapper {
        width: $scroll-spy-width;
        height: 100vh;
        position: absolute;
        right: 0;
    }

    .spyNav {
        color: white;
        font-size: 1.25rem;
        line-height: 1.5rem;
        font-weight: 200;
        letter-spacing: 0.05rem;
        display: flex;
        align-items: center;
        justify-content: left;
        border: none;
        padding: 0.6rem $scroll-spy-side-padding;
        width: 100%;
        transition: $hover-transition-speed;
        text-transform: uppercase;

        &:hover {
            color: $accent-color-one !important;
            letter-spacing: 2px;
            transition: $hover-transition-speed;
            padding-left: calc(#{$scroll-spy-side-padding} - 0.5rem);
        }
    }

    .is-current a {
        background-color: white;
        color: black;
        border-radius: 2px;
    }

    //  Main Section Styling
    .sectionCont {
        height: 100vh;
        width: $container-width;
        overflow: hidden scroll;
        position: absolute;
        scroll-snap-type: y mandatory;
        background: rgb(29, 25, 96);
        background: linear-gradient(to right, #212d5a, #415083 55.88%, #6172ae);
        .featureGreet {
            background-image: url('../images/cam-bg.jpg');
        }
        .section {
            background-size: cover;
            height: 100vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            scroll-snap-align: start;

            .topLine {
                height: 15px;
                width: 100px;
                background-color: $accent-color-one;
            }

            h1 {
                font-size: 2rem;
                line-height: 2rem;
                letter-spacing: 4px;
                margin: 0.65rem 0 0.85rem 0;
            }

            p {
                font-size: 1.2rem;
                line-height: 1.6rem;
                text-align: justify;
            }

            .greeting-card {
                height: 100vh;
                width: 100%;
                padding: 15%;
                overflow: hidden;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                background-size: cover;

                img {
                    position: absolute;
                    width: 100%;
                }

                .greeting-txt {
                    z-index: 2;
                    position: relative;
                    // background-color: white;
                }
            }

            .feature-card {
                width: 85%;
                height: 75%;
                min-height: 400px;
                display: flex;
                align-content: center;
                align-items: center;

                .feature-txt {
                    width: 40%;
                    padding: 2rem 4rem 2rem 2rem;
                }

                .feature-vid {
                    width: 60%;
                    border-radius: 20px;

                    video {
                        border-radius: 5px !important;
                        box-shadow: 4px 2px 18px #00000073 !important;
                        width: 100%;
                    }
                }
            }

            // .video-container {
            //     width: 100vw !important;
            // }
        }

        #footer {
            margin-top: 0 !important;
            padding-top: 0 !important;
            height: 100vh !important;
            width: 100vw !important;
        }
    }
}
