// Content JSON in root dir provides each project section with classname matching project object key;

$bg-eye-center: url('../images/bg-eyes.jpg');
$bg-champ-motor: url('../images/bg-engine.jpg');
$bg-champ-porsche: url('../images/bg-porsche.jpg');

.scrSp {
    position: relative;
    height: 100vh;
    overflow: scroll;
}

.featSect {
    height: 100vh;
}

.millenniumLasyerEyeCenter,
.championPorsche,
.greetSection {
    background-size: cover;
}

.projectsGreet {
    background-image: url('../images/portfolio-greet-bg.jpg');
}

.millenniumLasyerEyeCenter {
    background-image: $bg-eye-center;
}

.championPorsche {
    background-image: $bg-champ-porsche;
}

.championMotorsport {
    background-image: $bg-champ-motor;
}
