$accent-color-one: #a1286bbd;
$scroll-spy-width: 18rem;
$scroll-spy-side-padding: 9%;
$scroll-spy-font-size: 1.25rem;
$scroll-spy-letter-space: 0.05rem;

$container-width: calc(100vw - #{$scroll-spy-width});
$hover-transition-speed: 0.1s;

$greet-arrow-animation: fadeOutUp;

/*
------------------------------------------------------------------------------
******************************************************************************
** STYLING NOTE: 
- The only changes you may want to make should be to above variables. For styling changes to specifi templates/layouts, adjust styling inside of '_sectionTemplates.scss' file. Each templates-specific styling is organized there. This includes sectionbackground variables as well based on automated class assignment. (see other doc for more details)
******************************************************************************
------------------------------------------------------------------------------
*/

@keyframes fadeOutUp {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, -50%, 0);
    }
}

.scrollSpyPage {
    .logo,
    .logo img {
        top: 20px;
        left: 20px;
        width: 300px;
        border: none;
    }

    .navTitle {
        width: 100%;
        h1 {
            font-size: 1.75rem;
            margin: 0 auto 0 10%;
        }
        .navDivider {
            width: 25%;
            height: 10px;
            margin: 0 auto 20px 12%;
            background-color: $accent-color-one;
        }
    }

    .logo {
        position: absolute;
        z-index: 4;
    }

    .navUl ul {
        width: $scroll-spy-width;
        position: fixed;
        right: 0;
        height: 100vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4.75rem 0px 0px 0px;
    }
    li {
        list-style-type: none;
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: left;
        margin: 0.1rem auto;
        padding: 0;
    }

    .spyNavWrapper {
        width: $scroll-spy-width;
        height: 100vh;
        position: absolute;
        right: 0;
    }

    .spyNav {
        color: white;
        font-size: $scroll-spy-font-size;
        line-height: calc(#{$scroll-spy-font-size} + 0.15rem);
        font-weight: 200;
        letter-spacing: $scroll-spy-letter-space;
        display: flex;
        align-items: center;
        justify-content: left;
        border: none;
        padding: 0.2rem $scroll-spy-side-padding;
        width: 100%;
        transition: $hover-transition-speed;
        transition-timing-function: ease-out;
        text-transform: uppercase;

        &:hover {
            color: $accent-color-one !important;
            letter-spacing: calc(#{$scroll-spy-letter-space} + 0.035rem);
            transition: $hover-transition-speed;
            transition-timing-function: ease-out;
            padding-left: calc(#{$scroll-spy-side-padding} - 0.2rem);
        }
    }

    .is-current a {
        background-color: white;
        color: black;
        border-radius: 2px;
        font-size: calc(#{$scroll-spy-font-size} + 0.15rem);
        transition: calc(#{$hover-transition-speed} + 0.2s);
        padding: 0.7rem $scroll-spy-side-padding;
        transition-timing-function: ease-in-out;
    }

    //  Main Section Styling
    .sections-wrapper {
        height: 100vh;
        width: $container-width;
        overflow: hidden scroll;
        position: absolute;
        scroll-snap-type: y mandatory;
        background: rgb(29, 25, 96);
        background: linear-gradient(to right, #212d5a, #415083 55.88%, #6172ae);

        .section {
            background-size: cover;
            height: 100vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            scroll-snap-align: start;

            .topLine {
                height: 15px;
                width: 100px;
                background-color: $accent-color-one;
            }

            h1 {
                font-size: 2rem;
                line-height: 2rem;
                letter-spacing: 4px;
                margin: 0.65rem 0 0.85rem 0;
            }

            p {
                font-size: 1.2rem;
                line-height: 1.6rem;
                text-align: justify;
            }

            .section-content-wrapper {
                width: 85%;
                height: 75%;
                min-height: 400px;
                display: flex;
                align-content: center;
                align-items: center;
                position: relative;
            }

            .greeting-section {
                height: 100vh;
                width: 100%;
                padding: 15%;
                overflow: hidden;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                background-size: cover;

                img {
                    position: absolute;
                    width: 100%;
                }

                .greeting-txt {
                    z-index: 2;
                    position: relative;
                }
                .downArrow {
                    width: 40px;
                    display: inline-block;
                    margin: 0rem auto;
                    animation-name: fadeOutUp;
                    transform-origin: center bottom;
                    animation-duration: 0.9s;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                    opacity: 0.5;
                    position: absolute;
                    bottom: 20px;
                }
            }
        }

        #footer {
            margin-top: 0 !important;
            padding-top: 0 !important;
            height: 100vh !important;
            width: 100vw !important;
        }
    }
}
