:root {
    --main-width: 100vw;
}

$mwidth: 100vw;
$asratio: 313 / 642;

main {
    max-width: var(--main-width);
    height: calc(#{$mwidth} * #{$asratio});
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
}

iframe {
    width: 100%;
    height: calc(#{$mwidth} * #{$asratio});
}

.video-overlay {
    height: calc(#{$mwidth} * #{$asratio});
}

.video-container {
    width: 100vw;
    position: relative;

    .video-overlay {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 1;
        top: 0;
        background-color: rgba(51, 51, 51, 0.376);

        img {
            width: 35%;
            margin-bottom: 3.3rem;
        }

        h1 {
            font-size: 2.6rem;
            line-height: 2.5rem;
            color: white;
            margin: 0;
        }

        h2 {
            font-size: 1rem;
            letter-spacing: 2px;
            color: white;
            margin: 0;
            font-weight: 100;
        }
    }

    video {
        width: 100%;
    }
}

.wrapper {
    margin: 0 0 4.75em 0 !important;

    // .inner {
    //   padding: 15rem 0 !important;
    // }
    p {
        font-size: 1.4rem;
        font-weight: 100;
        letter-spacing: 1px;
    }
    h2 {
        font-size: 2rem;
        padding-bottom: 0.25rem;
        margin-bottom: 1rem;
        letter-spacing: 4px;
    }
    h3 {
        font-size: 1.4rem;
        letter-spacing: 4px;
    }
}

.wrapper.spotlight {
    z-index: 3;
}

.iframe-style-container {
    .frame-area {
        display: block;
        width: 100%; /* RESPONSIVE WIDTH */
        max-width: 1200px;
        height: 80vh;
        overflow: hidden; /* EDIT TO hidden FOR NO SCROLLBAR */
        // border: #999999 1px solid;
        // border-radius: 20px;
        margin: 0px auto 40px auto;
        padding: 0px;
        z-index: 100;
        position: relative;
    }
}

.spyLinkMobile.spyNav {
    display: none !important;
}

@media screen and (max-width: 770px) {
    .video-overlay {
        position: relative !important;
        padding: 1rem;
        height: 500px;
        margin-top: -280px;
        img {
            width: 80% !important;
            margin: 7rem 0 5rem 0 !important;
        }
    }
    .wrapper {
        margin: 0 0 1.75em 0 !important;
        .inner {
            padding: 5em 2em 4.1em 2em;
        }
    }
}
